* {
  text-align: center;
}

img {
  border-radius: 40%;
}

/* li {
  font-weight: bold;
  text-align: left;
} */

input[type="search"] {
  border-radius: 20px;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  outline: none;
}

input[type="text"] {
  border-radius: 20px;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  outline: none;
}

.button-container {
  margin: 20px;

  border-radius: 10%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
button {
  color: #fff !important;
  text-transform: uppercase;
  margin: 10px;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  border-radius: 30px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}
button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
button:focus {
  background: #03394d;
}

body {
  border: border-box;
  background-color: #6c0ee0;
  /* background: linear-gradient(-155deg, #7720e0 55%, #1ecea8 115%); */
}

.songsText {
  font-family: Circular, Helvetica, Arial, sans-serif;
  list-style-type: none;
  color: #fff;
  font-size: 20px;
}

.indiSong {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.songindi {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  justify-content: space-around;
  margin: 1% 21% 0.5% 21%;
  align-items: center;
  padding: 13px;
}
.createPlaylist {
  display: flex;
  position: relative;
  margin: 0px 21% 0px 21%;
  border-top: 1px solid #ccc;
  padding: 10px;
  justify-content: flex-end;
}
.createButton {
  position: absolute;
  left: 0;
}
.addcontainer {
  margin: 0 21% 0 21%;
  display: grid;
  grid-template-columns: 15% 83%;
  justify-content: space-between;
}
.songtextcontainer {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}
.ShuffleButton {
  display: flex;
  justify-content: flex-end;
  margin: 0 21% 0 21%;
}
.playlistSongContainer {
  margin: 2% 21% 0 21%;
  border-top: 2px solid rgb(235, 222, 222);
  box-shadow: inset 0px 4px 3px -3px rgb(235, 222, 222);
}
